.about-container {
  margin-top: 120px;
  min-height: 800px;
  width: 100%;
  color: var(--foreground);
  font-family: var(--font-alt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.4rem;
  letter-spacing: 0px;
  font-weight: 600;
}

.about-container h1 {
  font-weight: 300;
}

.about-content {
  display: flex;
  width: 60%;
  margin-top: 40px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.about-content h2 {
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 0;
  text-align: center;
}

.about-content p {
  font-size: 1.2rem;
  margin-top: 20px;
  font-weight: 300;
  font-family: var(--font-primary);
  text-align: left;
  color: rgb(77, 77, 77);
}

.about-detail-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 24px;
  border-top: 1px solid rgba(87, 87, 87, 0.2);
  border-bottom: 1px solid rgba(87, 87, 87, 0.2);
}

.about-details {
  width: 100%;
  padding: 80px 0;
  border-bottom: 1px solid rgba(87, 87, 87, 0.2);
}

.about-details:last-child {
  border-bottom: none;
}

.about-details h3 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 300;
  margin-bottom: 12px;
}

.about-details p {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(77, 77, 77);
}

.about-icon {
  margin-left: 8px;
  align-items: center;
  display: inline-flex;
  color: var(--foreground);
  font-size: 2rem;
  vertical-align: middle;
  opacity: 0.8;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.about-details:hover .about-icon {
  opacity: 1;
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .about-content,
  .about-detail-container {
    width: 80%;
  }

  .about-details {
    padding: 40px 0;
  }

  .about-detail-container {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .about-content,
  .about-detail-container {
    width: 90%;
  }

  .about-details {
    padding: 36px 0;
  }

  .about-detail-container {
    margin-top: 36px;
  }
}
