.intro-container {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  color: white;
  /* padding-top: 120px; */
  margin-top: 108px;
  /* background-color: #7689f3; fallback color in case image fails */
}

.intro-parallax {
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* Background image layer */
.intro-background {
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Centered content */
.intro-main {
  margin-top: 100px;
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 px;
  color: white;
  max-width: 900px;
}

.intro-main h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.intro-main p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 0 20px 0;
  color: #c2c2c2;
}

.intro-buttons {
  display: flex;
  height: min-content;
  gap: 20px;
  /* margin-top: 20px; */
}

.intro-main button {
  /* position: absolute; */
  /* bottom: 10px; */
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.4rem;
  background-color: rgba(153, 153, 153, 0.24);

  /* color: black; */
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: background-color 0.3s ease;
}

.intro-main button:hover {
  /* background-color: #7689f3; */
  background-color: rgba(235, 235, 235, 0.69);

  /* color: white; */
  color: black;
  border: 1px solid white;

  /* border: none; */
}

@media (max-width: 1200px) {
  .intro-container {
    margin-top: 80px;
  }
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .intro-container {
    height: 600px;
    /* margin-top: 72px; */
    /* background-color: red; */
    object-fit: cover;
  }

  .intro-main h1 {
    font-size: 2.2rem;
  }

  .intro-main p {
    font-size: 1rem;
    padding: 0 20px;
  }

  .intro-main button {
    font-size: 1.2rem;
    padding: 12px 24px;
  }
}
