.intro-container {
  position: relative;
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  color: white;
  /* padding-top: 120px; */
  margin-top: 120px;
  /* background-color: #7689f3; fallback color in case image fails */
}

.intro-parallax {
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* Background image layer */
.intro-background {
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Centered content */
.intro-main {
  margin-top: 100px;
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
  color: white;
  max-width: 900px;
}

.intro-main h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.intro-main p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 0 20px 0;
  color: #e2e2e2;
}

.intro-main button {
  /* position: absolute; */
  /* bottom: 10px; */
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.4rem;
  background-color: white;
  color: black;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.intro-main button:hover {
  background-color: #7689f3;
  color: black;
  border: 1px solid white;

  /* border: none; */
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .intro-container {
    height: 600px;
  }

  .intro-main h1 {
    font-size: 2.2rem;
  }

  .intro-main p {
    font-size: 1rem;
    padding: 0 20px;
  }

  .intro-main button {
    font-size: 1.2rem;
    padding: 12px 24px;
  }
}
