.intro-parallax {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: grey; */
  /* justify-content: center; */
  /* justify-items: space-between; */
  justify-content: center;
  padding: 0 50px;
}

.intro-background {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-background img {
  display: block;
  width: 80%;
  /* height: 100%; */
  aspect-ratio: initial;
  border-radius: 24px;
  /* object-fit: cover; maintain aspect ratio while filling container */
}

.intro-content {
  /* position: absolute; */
  /* left: 10%; */
  width: 50%;
  color: white;
  /* text-align: center; */
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.intro-content h1 {
  font-family: "Space Mono", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: left;
}

.intro-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: left;
  color: #cccccc;
}

.intro-content button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: 450;
  color: black;
  background-color: #edeeff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.intro-content button:hover {
  background-color: #7689f3;
  color: black;
}

@media (max-width: 1200px) {
  .intro-parallax {
    flex-direction: column-reverse;
    padding: 50px;
    height: auto;
    /* padding-top: 0; */
    padding-top: 100px;
  }

  .intro-background,
  .intro-content {
    width: 100%;
  }

  .intro-background {
    height: 50%;
  }

  .intro-background img {
    width: 100%;
    height: 60%;
    aspect-ratio: 1.7/1;
    object-fit: cover;
    /* border-radius: 0 0 16px 16px; */
  }

  .intro-background {
    height: 60%;
    width: 100%;
    margin-bottom: 20px;
  }
  .intro-content {
    text-align: center;
  }

  .intro-content h1 {
    font-size: 2rem;
    text-align: center;
  }

  .intro-content p {
    font-size: 1rem;
    text-align: center;
  }

  .intro-content button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
