.footer-container {
  height: 240px;
  width: 100%;
  /* background-color: red; */
  background-color: black;
  box-shadow: 0px 0px 10px 0px rgb(46, 46, 46);
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding: 36px 0;
  /* font-size: 24px;/ */
  /* padding: 40px 80px; */
}
.footer-main {
  /* background-color: red; */
  font-size: 1.4rem;
  height: 100%;
  font-weight: 400;
  letter-spacing: 1.1px;
  width: 60%;
  height: 100%;
  /* background-color: red; */
  justify-content: space-between;
  /* align-items: center; */
  /* background-color: red; */
}

.footer-contact {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.footer-contact h1 {
  font-size: 1.1rem;
  font-weight: 300;
}

.footer-contact p {
  font-size: 0.9rem;
  font-weight: 300;
}

.footer-contact a {
  /* background-color: red; */
  width: min-content;
}

.footer-icon {
  font-size: 40px;
  cursor: pointer;
  justify-content: center;
  transition: transform 0.3s ease;
}

.footer-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .footer-container {
    /* height: 240px; */
  }

  .footer-main {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .footer-main {
    width: 90%;
  }
}
