.website {
  width: 100vw;
  padding: 20px 30px;
}

/* Fixed full-screen background */
.app-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #070619;
  /* Sleek gradient background */
  /* background: linear-gradient(135deg, #ffffff, #f3f4f6, #e5e7eb); */
  /* background-color: rgba(236, 237, 231, 1); */
  /* background: linear-gradient(
    135deg,
    #9cd6ff 0%,
    /* light blue  #c7e7ff 50%,
    /* lighter blue center  #00528d 100%  back to light blue 
  ); */
  overflow: hidden; /* to contain the blur circle */
  z-index: -1;
}

/* The glowing orange circle */
.app-main::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    circle,
    rgba(1, 142, 229, 0.3) 10%,
    transparent 60%
  );
  transform: translate(-50%, -50%);
  filter: blur(120px);
  pointer-events: none;
  z-index: 0;
}

/* Scrollable site content */
.content {
  /* background-color: yellow; */
  /* background-color: black; */
  position: relative;
  z-index: 1;
  padding: 0;
  min-height: 200vh;
  /* padding: 4rem 2rem; */
  color: black;
  display: flex;
  justify-content: center;
  align-items: start;
}
