@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-primary: "Work Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  --font-alt: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Dark/base colors only */
  --background: #242424; /* Page background */
  --foreground: #edeeff; /* Default text */
  --card: #333333;
  --card-foreground: #edeeff;
  --popover: #333333;
  --popover-foreground: #edeeff;
  --primary: #7689f3;
  --primary-foreground: #000000;
  --secondary: #9670ff;
  --secondary-foreground: #edeeff;
  --muted: #555555;
  --muted-foreground: #ccc;
  --accent: #9670ff;
  --accent-foreground: #edeeff;
  --destructive: #f54e42;
  --border: #444444;
  --input: #333333;
  --ring: #7689f3;
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  /* background-color: var(--background); */
  font-family: var(--font-primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "Menante";
  src: url("/src/assets/fonts/menante/menante-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Menante";
  src: url("/src/assets/fonts/menante/menante-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
